header {
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    width: 100%;
    background: #1E5799;
    z-index: 2000;
}
header a.bridge-logo {
    display: inline-block;
    color: #FFF;
    font-size: 30px;
    height: 45px;
    line-height: 45px;
    margin-left: 10px;
    padding-right: 10px;
}
header a.bridge-logo:hover {
    color: #CCC;
}

header ul.navigation {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    color: #FFF;
    height: 45px;
    line-height: 45px;
    vertical-align: top;
}
header ul.navigation > li {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
header ul.navigation > li a {
    color: #FFF;
}
header ul.navigation > li a,
header ul.navigation > li span {
    margin-left: 10px;
}
header ul.navigation ul {
    display: none;
    position: absolute;
    background: #1E5799;
    line-height: 30px;
}
header ul.navigation ul li {
    margin: 5px 10px;
    white-space: nowrap;
}
header ul.navigation > li:hover ul {
    display: block;
}
header ul.navigation > li:hover a,
header ul.navigation > li:hover span,
header ul.navigation ul li:hover {
    color: #CCC;
    cursor: pointer;
}

header div.settings {
    display: inline-block;
    float: right;
    color: #FFF;
    font-size: 20px;
    position: relative;
    height: 45px;
    line-height: 45px;
    vertical-align: top;
}
header div.settings span {
    margin-right: 20px;
}
header div.settings ul {
    display: none;
    background: #1E5799;
    float: left;
    right: 0;
    width: 140px;
    position: absolute;
    line-height: 30px;
}
header div.settings:hover ul {
    display: block;
}
header div.settings ul li {
    margin: 5px 0 5px 10px;
}
header div.settings ul li a {
    color: #FFF;
}
header div.settings:hover span,
header div.settings ul li:hover a {
    color: #CCC;
    cursor: pointer;
}

content {
    position: absolute;
    left: 0;
    top: 45px;
    height: calc(100% - 65px);
    width: 100%;
    z-index: 1000;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    z-index: 2000;
}